@import url('https://fonts.googleapis.com/css?family=Khula|Raleway');


/*****GLOBAL STYLING****/
body {
  margin: 0;
  font-family: 'Khula', sans-serif;
}

h1, h2 {
  font-family: 'Raleway', sans-serif;
}

#app {
  height: 100vh;
  max-width: 100%;
  position: relative;
}

.app-container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.row {
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 60%;
  align-items: center;
  padding: 3em 3em 0;
}

.row div {
  padding: 0 1em;
}

/****HEADER****/

#site-header {
  background: #f6f6f6;
}

.weather-header {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #ddd;
  padding-left: 2em;
}

.weather-header h1 {
  font-family: 'Raleway', sans-serif;
}

.weather-header h1 > a {
  color: inherit;
  text-decoration: none;
}

.header-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2em;
}

.header-search h2 {
  display: none;
}

.header-search .search-container {
  min-height: 0;
}

.header-search form {
    display: flex;
    align-items: baseline;
    flex-direction: row-reverse;
    margin-right: 2em;
}

.header-search form button {
  margin-right: 2em;
}

/***Search Styles***/
.search-container {
  text-align: center;
  min-height: 24em;
}

.search-container h2 {
    color: #fff;
    font-size: 2em
}

input[type="text"] {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 10px #333;
  margin: 0 auto 1em;
  display: block;
  padding: 0.5em;
  border: 0;
}

.btn {
  background: #51B964;
  color: #fff;
  border: 0;
  font-size: 15px;
  padding: 0.5em;
  border-radius: 5px;
}

/****Loading***/

.loading {
  color: #fff;
}

/*******
Forecast
********/

.forecast-results {
  height: 100%;
  padding: 0 2em;
}
h2 {
  font-size: 1.8em;
  text-align: center;
  margin-bottom: 2em;
}
.icon img {
  height: 120px;
  max-width: 150px;
}

.forecast-results .icon:hover {
  opacity: 0.5
}

.forecast-results .icon:hover ~ .subhead p:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.subhead {
  text-align: center;
}

.forecast-results .subhead p {
  position: relative;
  color: #333;
  text-decoration: none;
  padding-bottom: 0.5em;
}

.forecast-results .subhead p:hover {
  color: #C1D2D9;
}

.forecast-results .subhead p:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #C1D2D9;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

/***DETAIL VIEW***/
.detail-view {
  text-align: center;
  height: 100%;
  width: 50%;
  margin: 2em auto;
  background: #f6f6f6
}

.detail-view h2 {
  margin-bottom: 2em;
}

.weather-desc {
  text-transform: capitalize;
}

.high {
  color: #FF7819;
}

.low {
  color: #00A5B2;
}


/****Media Queries****/

@media screen and (max-width: 829px) {
  .app-container {
    height: auto;
  }
  .row div {
    margin-bottom: 3em;
  }
}

@media screen and (max-width: 470px) {
  .weather-header {
    display: block;
    text-align: center;
  }

  .header-search .search-container {
      margin: 0 auto;
  }
  .header-search form {
    flex-direction: row;
  }
  .header-search form button {
    margin-right: 0;
    margin-left: 2em;
  }
}
