@import url('https://fonts.googleapis.com/css?family=Khula|Raleway');


/*****GLOBAL STYLING****/
body {
  margin: 0;
  font-family: 'Khula', sans-serif;
}

h1, h2 {
  font-family: 'Raleway', sans-serif;
}

#app {
  height: 100vh;
  max-width: 100%;
  position: relative;
}

.app-container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.row {
  background: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/****HEADER****/

#site-header {
  background: #f6f6f6;
}

.weather-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #ddd;
  padding-left: 2em;
}

.weather-header h1 {
  font-family: 'Raleway', sans-serif;
}

.header-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2em;
}

.header-search h2 {
  display: none;
}

.header-search .search-container {
  min-height: 0;
}

.header-search form {
    display: flex;
    align-items: baseline;
    flex-direction: row-reverse;
    margin-right: 2em;
}

.header-search form button {
  margin-right: 2em;
}

/***Search Styles***/
.search-container {
  text-align: center;
  min-height: 24em;
}

.search-container h2 {
    color: #fff;
    font-size: 2em
}

input[type="text"] {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 10px #333;
  margin: 0 auto 1em;
  display: block;
  padding: 0.5em;
  border: 0;
}

.btn {
  background: #51B964;
  color: #fff;
  border: 0;
  font-size: 15px;
  padding: 0.5em;
  border-radius: 5px;
}

/*******
Forecast
********/

.forecast-results {
  height: 100%;
  padding: 0 2em;
}
.forecast-results h2 {
  text-align: center;
}
.icon img {
  height: 150px;
  max-width: 200px;
  margin-bottom: 2em
}
