@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
  margin: 0;
}
#app {
  height: 100vh;
  max-width: 100%;
  position: relative;
}

.app-container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#weather-header {
  background: #fff;
}

.weather-header h1 {
  font-family: 'Raleway', sans-serif;
}

.search-container {
  text-align: center;
  min-height: 24em;
}

.search-container h2 {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 2em
}

input[type="text"] {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 10px #333;
  margin: 0 auto 1em;
  display: block;
  padding: 0.5em;
  border: 0;
}

input[type="submit"] {
  background: #51B964;
  color: #fff;
  border: 0;
  font-size: 15px;
  padding: 0.5em;
  border-radius: 5px;
}
